<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Dynamic Directory Index</title>
</head>

<body>
  <h2>Dynamic Directory Index</h2>

  <ul>
    <% @file_list.each do |filename| %>
      <li><a href=<%= filename %>> <%= filename %></a></li>
    <% end %>
  </ul>
</body>
</html>
